{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/table.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Desc</th>
            <th>Link</th>
            <th>Category</th>
            <th>Last Update</th>
        </tr>
        {% for product in products[900:] %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="{{ path('onliner_get_product_by_id', {'id':product.id}) }}">{{ product.name }}</a></td>
                <td><img src="{{ product.linkToImage }}" width="100" height="100"></td>
                <td>{{ product.description }}</td>
                <td><a href="{{ product.url }}">Product on Onliner</a></td>
                <td>
                    {% for category in product.categories %}
                        <span class="label label-default">{{ category.name }}</span>
                    {% endfor %}
                </td>
                <td class="date">{{ product.dateLastUpdate |date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}